.hero.min-h-screen{:style => "background-image: url(\"https://picsum.photos/id/1005/1600/1400\");"}
  .hero-overlay.bg-opacity-60
  .text-center.hero-content
    .card.shadow.bg-base-100
      .card-body
        = yield
