<div class="mb-4" data-controller="notification_message" data-notification_message-target="msgElement">
	<div class="flex max-w-sm w-full bg-white shadow-md rounded-lg overflow-hidden mx-auto">
		<div class="w-2 <%= type == 'alert' ? 'bg-red-600' : 'bg-green-600' %>"></div>
		<div class="w-full flex justify-between items-start px-2 py-2">
			<div class="flex flex-col ml-2">
				<label class="text-gray-800"><%= title %></label>
				<p class="text-gray-500 "><%= message %></p>
			</div>
			<a href="#" data-action="click->notification_message#close">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
				</svg>
			</a>
		</div>
	</div>
</div>