.card.bordered
  .card-body
    .flex
      .flex-auto
        %h2.card-title= project.name
        %p= project.description
      .flex-0
        = link_to "Show details", project_path(project), class: "btn btn-md btn-primary"
