<div class="card bordered">
  <div class="card-body">
    <div class="flex">
      <div class="flex-auto">
        <h2 class="card-title"><%= project.name %></h2>
        <p><%= project.description %></p>
      </div>
      <div class="flex-0">
        <%= link_to 'Show details', project_path(project), class: 'btn btn-md btn-primary' %>
      </div>
    </div>
  </div>
</div>
