.hero.min-h-screen{:style => "background-image: url(\"https://picsum.photos/id/1005/1600/1400\");"}
  .hero-overlay.bg-opacity-60
  .text-center.hero-content.text-neutral-content
    .max-w-md
      %h1.mb-5.text-5xl.font-bold
        Welcome to SimpleTasks
      %p.mb-5
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.
      = link_to "Get started", new_user_registration_path, class: 'btn btn-primary'
